---
import "../styles/global.css";
import AdminUI from "../components/react/AdminUI.js";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Manager | PCAHTO</title>
  </head>
  <body class="bg-admin-background text-admin-foreground">
    <AdminUI client:load />
  </body>
</html>
